
<section class="inner-hero bg_img" data-background={{asset(image_dir ~ "bg/inner-hero.jpg")}} >
<div class="shape position-absolute"><img src={{asset("/GameGalaxy_logo.png")}}  alt="image"></div>
<div class="el-1 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-1.png")}} alt="image"></div>
<div class="el-2 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-2.png")}} alt="image"></div>
<div class="el-3 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-3.png")}} alt="image"></div>
<div class="el-4 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-4.png")}} alt="image"></div>
<div class="el-5 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-5.png")}} alt="image"></div>
<div class="el-6 position-absolute"><img src= {{asset(image_dir ~ "/elements/inner-hero/el-6.png")}} alt="image"></div>

</section>
