  {% set Title = 'Réservations' %} 
{% extends 'BACK/base.html.twig' %}

{% block title %}
	Réservations
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content">
		<main>
			<div id="layoutAuthentication">
				<div id="layoutAuthentication_content">
					<main>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-7">
									<div class="card shadow-lg border-0 rounded-lg mt-5">
										<div class="card-header">
											<h3 class="text-center font-weight-light my-4">Créer réservation</h3>
										</div>
										<div class="card-body">
											{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}


											<div class="row mb-3">
												<div class="col-md-6">
													<div class="form-floating mb-3 mb-md-0">
														{{form_widget(form.id_evenement,{'attr':{'class':'form-control'}})}}
														{{form_errors(form.id_evenement)}}
														<label for="inputFirstName">ID évènement</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														{{form_widget(form.id_membre,{'attr':{'class':'form-control'}})}}
														{{form_errors(form.id_membre)}}
														<label for="inputLastName">ID membre</label>
													</div>
												</div>

											</div>
											<div class="mt-4 mb-0">
												<div class="d-grid">
													
													<button type="submit" class="btn btn-success">Valider</button>
												</div>
											</div>

											<div class="mt-4 mb-0">
												<div class="d-grid">
													{% if form_errors(form) %}
														<div class="alert alert-danger">
															{{ form_errors(form) }}
														</div>
													{% endif %}
												</div>
											</div>

											{{form_end(form)}}
										</div>
										<div class="card-footer text-center py-3">
											<div class="small">
												<a href="{{ path('app_back_reservation_index') }}">Retour à la liste</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</main>
		{% endblock %}
