{% extends 'BACK/base.html.twig' %}
{% block body %}

<div  id="layoutSidenav_content">
    <table class="table"style="color: BLACK;" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>Statut</th>
                <th>User Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
		{% if reclamation.username = }
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.titreRec }}</td>
                <td>{{ reclamation.typeRec }}</td>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.contenuRec }}</td>
                <td>{{ reclamation.statutRec }}</td>
                <td>{{ reclamation.username }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    {# <a type="button" class="btn btn-info" href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a> #}
                     <a type="button" class="btn btn-danger" href="{{ path('app_repons_new') }}">Repondre</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
