{% extends 'BACK/base.html.twig' %}
{% block body %}

<div  id="layoutSidenav_content">
    <table class="table"style="color: BLACK;" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Commande</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>Statut</th>
                <th>User Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td><a href="{{ path('app_order_show_back', {'id': reclamation.commande}) }} ">{{ reclamation.commande.status }}</a></td>                
                <td>{{ reclamation.titreRec }}</td>
                <td>{{ reclamation.typeRec }}</td>
                <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.contenuRec }}</td>
                    <td>
                    {% if reclamation.statutRec == 1 %}
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    
                      {%  elseif reclamation.statutRec == 2 %}
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>                        </div>
                    </div>
                    
                      {% elseif reclamation.statutRec == 3 %}
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    {% endif %}
                    </td>
                {# <td>{{ reclamation.statutRec }}</td> #}
                <td>{{ reclamation.username }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a type="button" class="btn btn-info" href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                     <a type="button" class="btn btn-danger" href="{{ path('app_repons_new') }}">Repondre</a>
                     <a class="btn btn-success" href="{{ path('export_reclamation_pdf', {'id': reclamation.id}) }}">Exporter en PDF</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('reclamation/search.html.twig')}} 
    
                        {# <div id="search-4" class="widget widget_search"><form role="search" method="get" class="searchform" action="#" >
                                <div><input type="text" value="" placeholder="Type and hit enter" name="s" class="input" /></div>
                                <button type="submit" class="searchsubmit" value=""><i class="base-icon-magnifying-glass"></i>Search</button> #}
{% endblock %}
