{% extends 'FRONT/base.html.twig' %}
{% block title %}Panier
{% endblock %}




{% block body %}

{% block custom_stylesheets %}

<style>
	@media(min-width: 1025px) {
		.h-custom {
			height: 100vh !important;
		}
	}

	.card-registration .select-input.form-control[readonly]:not([disabled]) {
		font-size: 1rem;
		line-height: 2.15;
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

	.card-registration .select-arrow {
		top: 13px;
	}

	.bg-grey {
		background-color: #eae8e8;
	}

	@media(min-width: 992px) {
		.card-registration-2 .bg-grey {
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}

	@media(max-width: 991px) {
		.card-registration-2 .bg-grey {
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Josefin Sans", sans-serif;
		color: #063970;
		font-weight: 600;
		margin: 0;
		line-height: 1.3;
	}

	.form-control {
		color: #063970;
		min-height: 50px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
	}
</style>

{% endblock %}

{% include "FRONT/inner-hero.html.twig" %}

<section class="h-100 h-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12">
				<div class="card card-registration card-registration-2" style="border-radius: 15px;">
					<div class="card-body p-0">
						<div class="row g-0">
							<div class="col-lg-8">
								<div class="p-5">
									<div class="d-flex justify-content-between align-items-center mb-5">
										<h1 class="fw-bold mb-0 text-black">Panier</h1>

									</div>

									<hr class="my-4">

									{% set counter = 0 %}
									{% set totalprice = 0 %}
									{% for element in dataPanier %}

										{% set counter = ( counter | default(0) ) + 1 %}
										{% set totalprice = totalprice + element.produit.prix  %}
										<div class="row mb-4 d-flex justify-content-between align-items-center">
											<div class="col-md-2 col-lg-2 col-xl-2">
												<img src={{asset(uploads_dir ~ element.produit.img)}} class="img-fluid rounded-3" alt="Cotton T-shirt">
											</div>
											<div class="col-md-3 col-lg-3 col-xl-3">
												<h6 class="text-muted">
													{{ element.produit.nomProduit }}
												</h6>
												<h6 class="text-black mb-0">{{ element.produit.nomProduit }}</h6>
											</div>
											<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
												<button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
													<i class="fas fa-minus"></i>
												</button>

												<input id="form1" min="0" name="quantity" value="{{ element.quantite }}" type="number" class="form-control form-control-sm"/>

												<button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
													<i class="fas fa-plus"></i>
												</button>
											</div>
											<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
												<h6 class="mb-0">{{ element.produit.prix }} TND</h6>
											</div>
											<div class="col-md-1 col-lg-1 col-xl-1 text-end">
												<a href="{{path("cart_delete", {id: element.produit.id})}}" class="text-muted">
													<i class="fas fa-times"></i>
												</a>
											</div>
										</div>

										<hr class="my-4">


									{% else %}


										<div class="alert alert-danger" role="alert">
											Panier vide!
										</div>


									{% endfor %}


									<div class="pt-5">
										<h6 class="mb-0">
											<a href="/produit/front" class="text-body">
												<i class="fas fa-long-arrow-alt-left me-2"></i>Retour à la boutique</a>
										</h6>
									</div>
								</div>
							</div>
							<div class="col-lg-4 bg-grey">
								<div class="p-5">
									<h3 class="fw-bold mb-5 mt-2 pt-1">Sommaire</h3>
									<hr class="my-4">

									<div class="d-flex justify-content-between mb-4">
										<h5 class="text-uppercase">{{counter}}
											Produit(s)</h5>

									</div>
									<hr class="my-4">
									<div class="d-flex justify-content-between mb-5">
										<h5 class="text-uppercase">Prix total:</h5>
										<h5>{{totalprice}} TND</h5>
									</div>
									{% if not dataPanier is empty %}
										<a href="{{path("app_cart_submit")}}" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Commander</a>
									{% else %}
										<button href="#" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="light" disabled>Commander</button>


									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
