{% set Title = 'Evenements' %}
{% extends 'BACK/base.html.twig' %}

{% block title %}
	Evenements
{% endblock %}

{% block body %}
	{% if not evenements is empty %}
		<div class="card-header">
			<i class="fas fa-table me-1"></i>
			{{ Title }}
		</div>
		<div class="card-body">
			<table id="datatablesSimple">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Date</th>
						<th>Description</th>
						<th>Duree</th>
						<th>Capacite</th>
						<th>Type</th>
						<th>Image</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Date</th>
						<th>Description</th>
						<th>Duree</th>
						<th>Capacite</th>
						<th>Type</th>
						<th>Image</th>
						<th>Actions</th>
					</tr>
				</tfoot>
				<tbody>

					{% for evenement in evenements %}
						<tr>
							<td>{{ evenement.id }}</td>
							<td>{{ evenement.nom }}</td>
							<td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ evenement.description }}</td>
							<td>{{ evenement.duree }}</td>
							<td>{{ evenement.capacite }}</td>
							<td>{{ evenement.type }}</td>
							{% if evenement.image %}
								<td>
									<style>
										.cover {

											object-fit: cover;

											width: 100px;

											margin: 0;

											height: 100px;

										}
									</style>

									<img src={{ asset(uploads_dir ~ evenement.image) }} class="cover">
								</td>
							{% else %}
								<td>
									No image set.
								</td>
							{% endif %}
							<td>
								<div class="mt-4 mb-0">
									<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
										<a href="{{ path('app_back_evenement_show', {'id': evenement.id}) }}" class="btn btn-primary">Détails</a>
										<a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-secondary">Modifier</a>
										{{ include('evenement/_delete_form.html.twig') }}

									</div>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a class="btn btn-primary" href="{{ path('app_evenement_new') }}">Créer un évènement</a>
		</div>
	{% else %}
		<div class="card-header">
		<div class="alert alert-danger" role="alert">
			<h3>Il n'y a pas encore d'évènements.</h3>
		</div>
			<a class="btn btn-success" href="{{ path('app_evenement_new') }}">Créer un évènement</a>
		<div class="small">
				<a href="{{ path('app_back_evenement_index') }}">Retour à la liste</a>
		</div>
</div>
	{% endif %}
{% endblock %}
